body,
html {
    width: 100%;
    height: 100%;
    font-family: "Droid Sans", arial, verdana, sans-serif;
    font-weight: 700;
    color: orange;
    background-color: #000;
    overflow: hidden;
}

h1 {
    position: absolute;
    width: 2.6em;
    left: 50%;
    top: 25%;
    font-size: 30em;
    text-align: center;
    margin-left: -1.3em;
    line-height: 0.8em;
    letter-spacing: -0.05em;
    color: #000;
    opacity: 0;
    z-index: 1;
    -webkit-animation: logo 2s ease-out 2.5s;
    -moz-animation: logo 2s ease-out 2.5s;
    -ms-animation: logo 2s ease-out 2.5s;
    -o-animation: logo 2s ease-out 2.5s;
    animation: logo 2s ease-out 2.5s;
}

h1 sub {
    display: block;
    font-size: 0.7em;
    letter-spacing: 0;
    line-height: 0.8em;
}

@-moz-keyframes logo {
    0% {
        -moz-transform: scale(1);
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        -moz-transform: scale(0.1);
        opacity: 0;
    }
}

/* the interesting 3D scrolling stuff */
#titles {
    position: absolute;
    width: 18em;
    height: 50em;
    bottom: 0;
    left: 50%;
    margin-left: -9em;
    font-size: 400%;
    text-align: justify;
    overflow: hidden;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: perspective(300px) rotateX(20deg);
    -moz-transform: perspective(300px) rotateX(20deg);
    -ms-transform: perspective(300px) rotateX(20deg);
    -o-transform: perspective(300px) rotateX(20deg);
    transform: perspective(300px) rotateX(20deg);
    animation-iteration-count: infinite;
}

#titles:after {
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    top: 0;
    bottom: 60%;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, transparent 100%);
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, transparent 100%);
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 1) 0%, transparent 100%);
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 1) 0%, transparent 100%);
    background-image: linear-gradient(top, rgba(0, 0, 0, 1) 0%, transparent 100%);
    pointer-events: none;
}

#titles p {
    text-align: justify;
    margin: 0.8em 0;
}

#titles p.center {
    text-align: center;
}

#titles a {
    color: orange;
    text-decoration: underline;
}

#titlecontent {
    position: absolute;
    top: 100%;
    -webkit-animation: scroll 30s linear 4s infinite;
    -moz-animation: scroll 30s linear 4s infinite;
    -ms-animation: scroll 30s linear 4s infinite;
    -o-animation: scroll 30s linear 4s infinite;
    animation: scroll 30s linear 4s infinite;
    
}

/* animation */
@-webkit-keyframes scroll {
    0% {
        top: 100%;
    }

    100% {
        top: -70%;
    }
}

@-moz-keyframes scroll {
    0% {
        top: 100%;
    }

    100% {
        top: -70%;
    }
}

@-ms-keyframes scroll {
    0% {
        top: 100%;
    }

    100% {
        top: -70%;
    }
}

@-o-keyframes scroll {
    0% {
        top: 100%;
    }

    100% {
        top: -70%;
    }
}

@keyframes scroll {
    0% {
        top: 100%;
    }

    100% {
        top: -70%;
    }
}